{:paths ["src" "resources"]
 :deps {clj-python/libpython-clj {:mvn/version "2.026"}
        behrica/libpython-clj-uv {:git/url "https://github.com/behrica/libpython-clj-uv"
                                  :git/sha "df465c363ecc6084d48a4fc3a8a26568a65f7a4a"}}}
